<ul class="naviList">
{foreach $modules module}
	<li class="{$module.key}{if $active == $module.key} active{/if} {cycle values="odd,even"}">
		<a href="?ext=admin&amp;mod={$module.key}">{$module.label}</a>
	</li>
{/foreach}
</ul>